.txt-roxo {
    color: blueviolet;
}

.txt-center {
    text-align: center;
}

.hero {
    height: 100vh;
    background-color: darkgray;
    display: flex;
    align-items: center;
}

.hero-title {
    background-color: lightblue;
    text-align: center;
    padding: 5% 0;
    width: 100vw;
}

.cards {
    background-color: lightcoral;
    display: flex;
    justify-content: space-evenly;
}

.card {
    background-color: limegreen;
    width: 30vw;
    margin: 1px;
    padding: 2px;
    border: solid;
}