body {
    font-family:'Courier New', Courier, monospace;
}

$primary: #304d6dff;
$secondary: #545e75ff;
$blue-jeans: #63adf2ff;
$baby-blue-eyes: #a7ccedff;
$air-superiority-blue: #82a0bcff;
$violet: blueviolet;